@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

.row.last {
    padding-bottom: 2em;
}

.hero, .footer {
    height: 400px;
    padding-top: 100px;
    margin-bottom: 2em;
    position: relative;
    overflow: hidden;

    .right {
        float: right;
    }

    .bg {
        background: url("/etc/img/hero-yosemite-650.jpg");
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        z-index: 1;
        height: 650px;
        width: 100%;
    }

    .row {
        position: relative;
        z-index: 2;

        h1, h2, h4, a:link, a:visited {
            color: rgba(255,255,255,1);
            text-shadow: 0.1em 0.1em 0.4em rgba(0,0,0,0.25);
        }

        a:hover {
            color: rgba(255,255,255,0.75);
        }

        i {
            display: inline-block;
            margin-right: 0.5em;
        }
    }
}

.footer {
    background: url("/etc/img/footer-yosemite.jpg");
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
    margin-top: 2em;

    a {
        text-decoration: underline;
    }
}

.sm {
    font-size: 2em;
}

@media only screen and (max-width: 400px) {
    .hero {
        img {
            width: 100px;
            height: auto;
        }
    }
}
